@import '../styles/animations.css' layer(base);

@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin 'tailwind-scrollbar-hide';
@plugin '@vidstack/react/tailwind.cjs' {
  selector: '.media-player';
  prefix: 'media';
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-inter: 'Inter', sans-serif;

  --breakpoint-xss: 390px;
  --breakpoint-special: 768px;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-xss)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* .screen-minus-sidebar-max-width {
  max-width: calc(100vw - 256px);
}

@media (max-width: 768px) {
  .screen-minus-sidebar-max-width {
    max-width: 100vw;
  }
} */

@utility main-transition {
  transition: max-width 150ms ease-in-out;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.color-bg {
  background-image: radial-gradient(at 27% 37%, #0284c7 0, transparent 0),
    radial-gradient(at 97% 21%, #0284c7b0 0, transparent 50%),
    radial-gradient(at 52% 99%, #0284c7b0 0, transparent 50%),
    radial-gradient(at 10% 29%, #0284c7 0, transparent 50%),
    radial-gradient(at 97% 96%, #95c6e4 0, transparent 50%),
    radial-gradient(at 33% 50%, #ffffff 0, transparent 50%),
    radial-gradient(at 79% 53%, #ffffff00 0, transparent 50%);
}

.color-bg-ui {
  background-image: radial-gradient(at 27% 37%, #0284c7 0, transparent 0),
    radial-gradient(at 100% 0%, #0285c7 0, transparent 40%),
    radial-gradient(at 0% 100%, #0285c7 0, transparent 40%),
    radial-gradient(at 100% 96%, #95c6e4 0, transparent 20%),
    radial-gradient(at 13% 60%, #ffffff 0, transparent 50%),
    radial-gradient(at 79% 53%, #ffffff 0, transparent 50%);
}

.drops {
  position: relative;
  overflow: hidden;
}

.drops::before {
  content: '';
  position: absolute;
  top: -100%; /* Start above the bar */
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, transparent, #1e3a8a);
  animation: drop-animation 15s linear infinite;
}

@keyframes drop-animation {
  0% {
    top: -200%;
  }
  100% {
    top: 200%;
  }
}

.drops2 {
  position: relative;
  overflow: hidden;
}

.drops2::before {
  content: '';
  position: absolute;
  top: -100%; /* Start above the bar */
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, transparent, #0284c7);
  animation: drop-animation 10s linear infinite;
}

.drops3 {
  position: relative;
  overflow: hidden;
}

.drops3::before {
  content: '';
  position: absolute;
  top: -100%; /* Start above the bar */
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, transparent, #1e3a8a);
  animation: drop-animation 18s linear infinite;
}

.drops4 {
  position: relative;
  overflow: hidden;
}

.drops4::before {
  content: '';
  position: absolute;
  top: -100%; /* Start above the bar */
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, transparent, #1d4ed8);
  animation: drop-animation 22s linear infinite;
}

.shimmer path {
  opacity: 0.5;
  animation: shimmer 3s infinite;
}
.shimmer path:nth-child(1) {
  animation-delay: 0s;
}
.shimmer path:nth-child(2) {
  animation-delay: 2s;
}
.shimmer path:nth-child(3) {
  animation-delay: 4s;
}

@keyframes shimmer {
  0%,
  100% {
    opacity: 0.5;
    scale: 1;
  }
  50% {
    opacity: 1;
    scale: 1.05;
  }
}

html {
  overflow-x: hidden;
}

.box {
  position: relative;
  transform-style: preserve-3d;
}

.box::before {
  content: '';
  position: absolute;
  inset: 0px;
  background: radial-gradient(49% 81% at 45% 47%, rgb(5, 62, 115) 0%, #073aff00 100%),
    radial-gradient(113% 91% at 17% -2%, rgba(1, 40, 75, 0.548) 0%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, rgba(6, 30, 75, 0) 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, rgba(174, 196, 255, 0) 1%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, rgb(52, 125, 193) 0%, #ffffffff 99%);
  filter: blur(15px);
  opacity: 0.3;
  transform: translate3d(0px, 0px, -1px);
  pointer-events: none;
}

.box-inside {
  background: radial-gradient(49% 81% at 45% 47%, rgba(52, 125, 193, 0.249) 0%, #073aff00 100%),
    radial-gradient(113% 91% at 17% -2%, rgba(131, 170, 207, 0.348) 0%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, rgba(164, 138, 249, 0.326) 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, rgba(174, 196, 255, 0.735) 1%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, rgba(52, 125, 193, 0.37) 0%, #ffffffff 99%);
}

.vds-video-layout .vds-time-slider .vds-slider-value {
  background-color: var(--video-time-bg, unset);
  text-shadow:
    0px 0px 0px #333333,
    0px 0px 0px #333333,
    0px 0px 0px #333333,
    0px 0px 0px #333333 !important;
}

:where(.vds-video-layout .vds-time-slider .vds-slider-chapter-title) {
  text-shadow:
    0px 0px 0px #333333,
    0px 0px 0px #333333,
    0px 0px 0px #333333,
    0px 0px 0px #333333 !important;
}

.vds-audio-layout,
.vds-video-layout {
  /* Shared. */
  --media-brand: #f5f5f5;
  --media-controls-color: #f5f5f5;
  --media-font-family: 'Inter', sans-serif;

  /* Buffering. */
  --media-buffering-animation: vds-buffering-spin 1s linear infinite;
  --media-buffering-size: 96px;
  --media-buffering-track-color: #f5f5f5;
  --media-buffering-track-fill-color: var(--media-brand);
  --media-buffering-track-fill-offset: 50;
  --media-buffering-track-fill-opacity: 0.75;
  --media-buffering-track-fill-width: 9;
  --media-buffering-track-opacity: 0.25;
  --media-buffering-track-width: 8;
  --media-buffering-transition: opacity 200ms ease;

  /* Buttons. */
  --media-button-border-radius: 8px;
  --media-button-color: var(--media-controls-color, #f5f5f5);
  --media-button-hover-bg: rgb(255 255 255 / 0.2);
  --media-button-hover-transform: scale(1);
  --media-button-hover-transition: transform 0.2s ease-in;
  --media-button-icon-size: 80%;
  --media-button-padding: 0px;
  --media-button-size: 40px;
  --media-button-touch-hover-bg: rgb(255 255 255 / 0.2);
  --media-button-touch-hover-border-radius: 100%;
  --media-sm-fullscreen-button-size: 42px;
  --media-fullscreen-button-size: 42px;

  /* Tooltips. */
  --media-tooltip-bg-color: black;
  --media-tooltip-border-radius: 4px;
  --media-tooltip-border: 1px solid rgb(255 255 255 / 0.1);
  --media-tooltip-color: hsl(0, 0%, 80%);
  --media-tooltip-font-size: 13px;
  --media-tooltip-font-weight: 500;
  --media-tooltip-padding: 2px 8px;
  --media-tooltip-enter-animation: vds-tooltip-enter 0.2s ease-in;
  --media-tooltip-exit-animation: vds-tooltip-exit 0.2s ease-out;

  /* Live Indicator. */
  --media-live-button-bg: #8a8a8a;
  --media-live-button-border-radius: 2px;
  --media-live-button-color: #161616;
  --media-live-button-edge-bg: #dc2626;
  --media-live-button-edge-color: #f5f5f5;
  --media-live-button-font-size: 12px;
  --media-live-button-font-weight: 600;
  --media-live-button-height: 40px;
  --media-live-button-letter-spacing: 1.5px;
  --media-live-button-padding: 1px 4px;
  --media-live-button-width: 40px;

  /* Captions. */
  --media-captions-padding: 1%;
  --media-cue-backdrop: blur(8px);
  --media-cue-bg: rgba(0, 0, 0, 0.7);
  --media-cue-border-radius: 2px;
  --media-cue-border: unset;
  --media-cue-box-shadow: var(--cue-box-shadow);
  --media-cue-color: white;
  --media-cue-display-bg: unset;
  --media-cue-display-border-radius: unset;
  --media-cue-display-padding: unset;
  --media-cue-font-size: calc(var(--overlay-height) / 100 * 4.5);
  --media-cue-line-height: calc(var(--cue-font-size) * 1.2);
  --media-cue-padding-x: calc(var(--cue-font-size) * 0.4);
  --media-cue-padding-x: calc(var(--cue-font-size) * 0.6);

  /* Chapter Title. */
  --media-chapter-title-color: rgba(255 255 255 / 0.64);
  --media-chapter-title-font-size: 14px;
  --media-chapter-title-font-weight: 500;
  --media-chapter-title-separator-color: var(--color);
  --media-chapter-title-separator-gap: 6px;
  --media-chapter-title-separator: '\2022';

  /* Controls. */
  --media-controls-padding: 0px;
  --media-controls-in-transition: opacity 0.2s ease-in;
  --media-controls-out-transition: opacity 0.2s ease-out;

  /* Thumbnails. */
  --media-thumbnail-bg: black;
  --media-thumbnail-border: 1px solid white;
  --media-thumbnail-aspect-ratio: 16 / 9;
  --media-thumbnail-min-width: 120px;
  --media-thumbnail-min-height: calc(var(--media-thumbnail-min-width) / var(--aspect-ratio));
  --media-thumbnail-max-width: 180px;
  --media-thumbnail-max-height: calc(var(--media-thumbnail-max-width) / var(--aspect-ratio));

  /* Time. */
  --media-time-bg: unset;
  --media-time-border-radius: unset;
  --media-time-border: unset;
  --media-time-color: #f5f5f5;
  --media-time-divider-color: #e0e0e0;
  --media-time-divider-gap: 2.5px;
  --media-time-font-size: 14px;
  --media-time-font-weight: 400;
  --media-time-letter-spacing: 0.025em;

  /* Sliders. */
  --media-slider-width: 100%;
  --media-slider-height: 48px;

  /* Slider Thumb. */
  --media-slider-thumb-bg: #fff;
  --media-slider-thumb-border-radius: 9999px;
  --media-slider-thumb-border: 1px solid #cacaca;
  --media-slider-thumb-size: 15px;
  --media-slider-thumb-transition: opacity 0.2s ease-in, box-shadow 0.2s ease;

  /* Slider Tracks. */
  --media-slider-track-width: 100%;
  --media-slider-track-bg: rgb(255 255 255 / 0.3);
  --media-slider-track-border-radius: 1px;
  --media-slider-track-fill-bg: var(--media-brand);
  --media-slider-track-fill-live-bg: #dc2626;
  --media-slider-track-height: 5px;
  --media-slider-track-progress-bg: rgb(255 255 255 / 0.5);
  --media-slider-focused-thumb-shadow: 0 0 0 0px hsla(0, 0%, 100%, 0);
  --media-slider-focused-thumb-size: calc(var(--thumb-size) * 1.1);
  --media-slider-focused-track-height: calc(var(--track-height) * 1.25);
  --media-slider-focused-track-height: var(--track-height);
  --media-slider-focused-track-width: calc(var(--track-width) * 1.25);
  --media-slider-focused-track-width: var(--track-width);

  /* Slider Steps. */
  --media-slider-step-width: 2.5px;
  --media-slider-step-color: rgb(124, 124, 124);

  /* Slider Chapter. */
  --media-slider-chapter-hover-transform: scaleY(2);
  --media-slider-chapter-hover-transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1);

  /* Slider Preview. */
  --media-slider-preview-bg: unset;
  --media-slider-preview-border-radius: 2px;

  /* Slider Chapter Title. */
  --media-slider-chapter-title-bg: unset;
  --media-slider-chapter-title-color: #f5f5f5;
  --media-slider-chapter-title-font-size: 14px;
  --media-slider-chapter-title-gap: 6px;

  /* Slider Value. */
  --media-slider-value-bg: black;
  --media-slider-value-border-radius: 2px;
  --media-slider-value-border: unset;
  --media-slider-value-color: white;
  --media-slider-value-gap: 0px;
  --media-slider-value-padding: 1px 10px;

  /* Menu Theme. */
  --media-menu-color-gray-50: rgb(245 245 245 / 0.1);
  --media-menu-color-gray-100: rgb(245 245 245 / 0.45);
  --media-menu-color-gray-200: rgb(10 10 10 / 0.6);
  --media-menu-color-gray-300: rgb(27 27 27);

  /* Menu Text. */
  --media-menu-text-color: #f5f5f5;
  --media-menu-text-secondary-color: #6b6b6b;

  /* Menu. */
  --media-menu-bg: var(--media-menu-bg, var(--color-gray-400));
  --media-menu-border-radius: 4px;
  --media-menu-border: 1px solid rgb(255 255 255 / 0.1);
  --media-menu-box-shadow: 1px 1px 1px rgb(10 10 10 / 0.5);
  --media-menu-divider: 1px solid var(--color-gray-50);
  --media-menu-font-size: 14px;
  --media-menu-font-weight: 500;
  --media-menu-max-height: 250px;
  --media-menu-min-width: 220px;
  --media-menu-padding: 12px;
  --media-menu-top-bar-bg: rgb(10 10 10 / 0.6);
  --media-menu-arrow-icon-size: 18px;
  --media-menu-icon-rotate-deg: 90deg;

  --media-menu-enter-animation: vds-menu-enter 0.3s ease-out;
  --media-menu-exit-animation: vds-menu-exit 0.2s ease-out;

  --media-menu-scrollbar-track-bg: transparent;
  --media-menu-scrollbar-thumb-bg: var(--color-gray-50);

  --media-sm-menu-landscape-max-height: min(70vh, 400px);
  --media-sm-menu-portrait-max-height: 40vh;

  /* Menu Section. */
  --media-menu-section-bg: var(--color-gray-300);
  --media-menu-section-border: unset;
  --media-menu-section-divider: var(--divider);
  --media-menu-section-header-font-size: 12px;
  --media-menu-section-header-font-weight: 500;
  --media-menu-section-gap: 8px;
  --media-menu-section-border-radius: 2px;

  /* Menu Item. */
  --media-menu-item-bg: transparent;
  --media-menu-item-border-radius: 2px;
  --media-menu-item-border: 0;
  --media-menu-item-height: 40px;
  --media-menu-item-hover-bg: var(--color-gray-50);
  --media-menu-item-icon-size: 18px;
  --media-menu-item-icon-spacing: 6px;
  --media-menu-item-padding: 10px;

  /* Menu Radio. */
  --media-menu-radio-icon-color: var(--text-color);

  /* Menu Checkbox. */
  --media-menu-checkbox-width: 40px;
  --media-menu-checkbox-height: 18px;
  --media-menu-checkbox-bg-active: #1ba13f;
  --media-menu-checkbox-bg: var(--color-gray-100);
  --media-menu-checkbox-handle-bg: #f5f5f5;
  --media-menu-checkbox-handle-border: unset;
  --media-menu-checkbox-handle-diameter: calc(var(--checkbox-height) - 2px);

  /* Menu Slider. */
  --media-menu-slider-height: 32px;
  --media-menu-slider-track-bg: var(--color-gray-50);
  --media-menu-slider-track-fill-bg: var(--color-inverse);

  /* Menu Hint. */
  --media-menu-hint-color: var(--text-secondary-color);
  --media-menu-hint-font-size: 13px;
  --media-menu-hint-font-weight: 400;

  /* Chapters Menu. */
  --media-chapters-divider: var(--divider);
  --media-chapters-duration-bg: unset;
  --media-chapters-duration-border-radius: 2px;
  --media-chapters-focus-padding: 4px;
  --media-chapters-item-active-bg: var(--color-gray-50);
  --media-chapters-item-active-border-left: unset;
  --media-chapters-min-width: var(--media-menu-min-width, 220px);
  --media-chapters-padding: 0;
  --media-chapters-progress-bg: var(--color-inverse);
  --media-chapters-progress-border-radius: 0;
  --media-chapters-progress-height: 4px;
  --media-chapters-start-time-border-radius: 2px;
  --media-chapters-start-time-letter-spacing: 0.4px;
  --media-chapters-start-time-padding: 1px 4px;
  --media-chapters-thumbnail-border: 0;
  --media-chapters-thumbnail-gap: 12px;
  --media-chapters-thumbnail-max-height: 68px;
  --media-chapters-thumbnail-max-width: 120px;
  --media-chapters-thumbnail-min-height: 56px;
  --media-chapters-thumbnail-min-width: 100px;
  --media-chapters-time-font-size: 12px;
  --media-chapters-time-font-weight: 500;
  --media-chapters-time-gap: 6px;
  --media-chapters-with-thumbnails-min-width: 300px;
}

.path {
  animation: pathAnimation 24s ease-in-out infinite;
  stroke-dasharray: 612.5;
  stroke-dashoffset: 0;
}

.path0 {
  --stroke-dashoffset: 1000;
}

.path2 {
  --stroke-dashoffset: 2000;
}

.path4 {
  --stroke-dashoffset: 3000;
}

.path6 {
  --stroke-dashoffset: 4000;
}

.path8 {
  --stroke-dashoffset: 5000;
}

.grecaptcha-badge {
  visibility: hidden;
}

@keyframes pathAnimation {
  0% {
    stroke-dashoffset: var(--stroke-dashoffset);
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--stroke-dashoffset);
  }
}

@keyframes popUpAndSettle {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(100px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes popUpAndSettleLeft {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(100px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-30px, -30px) rotate(-3deg);
  }
}

@keyframes popUpAndSettleRight {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(100px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(30px, 30px) rotate(3deg);
  }
}

.empty-state-center {
  animation: popUpAndSettle 0.4s cubic-bezier(0.16, 1.5, 0.15, 1) forwards;
}

.empty-state-right {
  animation: popUpAndSettleRight 0.4s cubic-bezier(0.16, 1.5, 0.15, 1) forwards;
  animation-delay: 0.08s;
  opacity: 0;
}

.empty-state-left {
  animation: popUpAndSettleLeft 0.4s cubic-bezier(0.16, 1.5, 0.15, 1) forwards;
  animation-delay: 0.16s;
  opacity: 0;
}
